<template>
    <div>
        <vue-good-table
                :columns="columns"
                :rows="rows"
                :line-numbers="true"
                :search-options="{
                    enabled: true,
                    trigger: 'enter',
                    skipDiacritics: true,
                    // searchFn: mySearchFn,
                    placeholder: 'Search this table',
                    initialSortBy: {field: 'created_at', type: 'desc'}
                  }"
                :pagination-options="{
                    enabled: true,
                    mode: 'records',
                    perPage: 10,
                    position: 'bottom',
                    perPageDropdown: [3, 7, 9],
                    dropdownAllowAll: false,
                    setCurrentPage: 1,
                    nextLabel: 'next',
                    prevLabel: 'prev',
                    rowsPerPageLabel: 'Rows per page',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'All',
                  }"
        >
        <div slot="emptystate" v-if="rows.length <= 0">
            This will show up when there are no rows
        </div>
            <div slot="table-actions">
                <div class="btn-group btn-group-toggle float-left" data-toggle="buttons">
                    <button class="btn btn-primary" @click="createPlayer">Create PLayer</button>
                </div>
            </div>
        <template slot="table-row" slot-scope="props">
            <span v-if="props.column.field == 'avatar'">
                <img :src="props.row.avatar" class="table-img img-thumbnail rounded"/>
            </span>
        </template>
        </vue-good-table>
    </div>
</template>

<script>
    import Player from '@/modules/player';

    export default {
        name: "user-list",
        data() {
            return {
                usersList: [],
                columns: [
                    {
                        label: 'Nickname',
                        field: 'nickname',
                        type: 'string',
                    },
                    {
                        label: 'First name',
                        field: 'first_name',
                        type: 'string',
                    },
                    {
                        label: 'Second name',
                        field: 'second_name',
                        type: 'string',
                    },
                    {
                        label: 'Email',
                        field: 'email',
                        type: 'string',
                    },
                    {
                        label: 'Phone',
                        field: 'phone_number',
                        type: 'string',
                    },
                    {
                        label: 'City',
                        field: 'city',
                        type: 'string',
                    },
                    {
                        label: 'Country',
                        field: 'Country.name',
                        type: 'string',
                    },
                    {
                        label: 'Birthday',
                        field: 'dob',
                        type: 'date',
                        dateInputFormat: 'YYYY-MM-DD',
                        dateOutputFormat: 'Do MMM YYYY',
                    },
                    {
                        label: 'Created At',
                        field: 'created_at',
                        type: 'date',
                        dateInputFormat: 'YYYY-MM-DD',
                        dateOutputFormat: 'Do MMM YYYY',
                    },
                ],
                rows: [],
            }
        },
        created() {
            let playerList = Player.getList();
            playerList.then((response) => {
                console.log(response);
                this.usersList = response || [];
                this.rows = response;
            }).catch((error) => {console.error(error)});
        },
        methods: {
            createPlayer() {
                this.$router.push({name: 'player-create'});
            }
        }
    }
</script>

<style scoped>

</style>