<template>
    <div class="col-12">
        <countries-list></countries-list>
    </div>
</template>

<script>
    import CountriesList from "../components/countries/countries-list";
    export default {
        name: "Countries",
        components: {CountriesList}
    }
</script>

<style scoped>

</style>