<template>
    <div class="col-12">
        <div class="card-deck">
            <balance-dashboard></balance-dashboard>
            <users-dashboard></users-dashboard>
            <countries-dashboard></countries-dashboard>
        </div>
    </div>
</template>

<script>
    import BalanceDashboard from "../components/dashboard/balance-dashboard";
    import UsersDashboard from "../components/dashboard/users-dashboard";
    import CountriesDashboard from "../components/dashboard/countries-dashboard";
    export default {
        name: "Index",
        components: {CountriesDashboard, UsersDashboard, BalanceDashboard}
    }
</script>

<style scoped>

</style>