<template>
    <div class="col-12">
        <user-list></user-list>
    </div>
</template>

<script>
    import UserList from "../components/users/user-list";
    export default {
        name: "Users",
        components: {UserList}
    }
</script>

<style scoped>

</style>