<template>
    <div class="col-xs-12 col-md-8 col-lg-6">
        <form @submit.prevent="createPlayer">
            <fieldset><h3><span class="badge badge-secondary">CREATE PLAYER</span></h3></fieldset>
            <div class="form-group">
                <label for="inputEmail" class="float-left">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email" v-model="player.email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="inputFirstname" class="float-left">Firstname</label>
                <input type="text" name="first_name" class="form-control" id="inputFirstname" placeholder="Enter first name" v-model="player.first_name">
            </div>
            <div class="form-group">
                <label for="inputSecondName" class="float-left">Firstname</label>
                <input type="text" name="second_name" class="form-control" id="inputSecondName" placeholder="Enter second name" v-model="player.second_name">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="float-left">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required v-model="player.password">
            </div>
            <button type="submit" class="btn btn-success col-9">Submit</button>
            <router-link to="/players" class="btn btn-primary col-3">BACK</router-link>
        </form>
    </div>
</template>

<script>
    export default {
        name: "PlayerCreate",
        data() {
            return {
                player: {
                    email: "",
                    first_name: "",
                    second_name: "",
                    password: ""
                }
            }
        },
        methods: {
            createPlayer(e) {
                console.log(this.player);
                alert("POST request on users/create controller");
            }
        }
    }
</script>

<style scoped>

</style>