<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <router-link to="/" class="navbar-brand">Dashboard</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link to="/players" class="nav-link">Players</router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/countries" class="nav-link">Countries</router-link>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

            <button class="btn btn-primary" @click="onLogout">Logout</button>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar",
        methods : {
            onLogout() {
                alert("Log out functionality");
            }
        }
    }
</script>

<style scoped>

</style>