<template>
    <div>
        <vue-good-table
                :columns="columns"
                :rows="rows"
                :line-numbers="true"
                :search-options="{
                    enabled: true,
                    trigger: 'enter',
                    skipDiacritics: true,
                    // searchFn: mySearchFn,
                    placeholder: 'Search this table',
                    initialSortBy: {field: 'code', type: 'asc'}
                  }"
                :pagination-options="{
                    enabled: true,
                    mode: 'records',
                    perPage: 10,
                    position: 'bottom',
                    perPageDropdown: [3, 7, 9],
                    dropdownAllowAll: false,
                    setCurrentPage: 1,
                    nextLabel: 'next',
                    prevLabel: 'prev',
                    rowsPerPageLabel: 'Rows per page',
                    ofLabel: 'of',
                    pageLabel: 'page', // for 'pages' mode
                    allLabel: 'All',
                  }"
        >
            <div slot="emptystate" v-if="rows.length <= 0">
                This will show up when there are no rows
            </div>
        </vue-good-table>
    </div>
</template>

<script>
    import Country from '@/modules/country';
    export default {
        name: "countries-list",
        data() {
            return {
                countriesList: [],
                columns: [
                    {
                        label: 'Name',
                        field: 'name',
                        type: 'string',
                    },
                    {
                        label: 'Code',
                        field: 'code',
                        type: 'string',
                    },
                    {
                        label: 'Age restriction',
                        field: 'age_restriction',
                        type: 'string',
                    },
                ],
                rows: [],
            }
        },
        created() {
            let countriesList = Country.getList();
            countriesList.then((response) => {
                console.log(response);
                this.countriesList = response || [];
                this.rows = response;
            }).catch((error) => {console.error(error)});
        },
    }
</script>

<style scoped>

</style>