<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Balance</h5>
            <p class="card-text">{{ balance }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</template>

<script>
    export default {
        name: "balance-dashboard",
        data() {
            return {
                balance: 999
            };
        }
    }
</script>

<style scoped>

</style>