<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Prioritized Countries</h5>
            <p class="card-text">{{ prioritizedCountryCount }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</template>

<script>
    import Country from '@/modules/country';
    export default {
        name: "countries-dashboard",
        data() {
            return {
                prioritizedCountryCount : 0
            }
        },
        created() {
            let prioritizedCountries = Country.getPrioritized();
            prioritizedCountries.then((response) => {
                console.log("prioritizedCountries");
                console.log(response);
                this.prioritizedCountryCount = response.length || 0;
            }).catch((err) => {
                console.log(err);
            })
        }
    }
</script>

<style scoped>

</style>