<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Active users</h5>
            <p class="card-text">{{ activeUsers }}</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</template>

<script>
    export default {
        name: "users-dashboard",
        data() {
            return {
                activeUsers: 12
            }
        }
    }
</script>

<style scoped>

</style>